<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cnaws.Sms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Cnaws.Sms.Properties.Settings>
            <setting name="Cnaws_Sms_WSRMobest_MobsetApi" serializeAs="String">
                <value>http://sms3.mobset.com:8080/Api</value>
            </setting>
        </Cnaws.Sms.Properties.Settings>
    </applicationSettings>
</configuration>